
{% extends "base.html" %}

{% block title %} Shop Homepage - Start Bootstrap Template {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Доставка</p>
            </div>

            <div class="col-md-9">
                <p>Доставка осуществляется до любого города – до Вашего адреса или терминала выбранной транспортной
                    компании, ближайшей к Вам. Время дневной доставки происходит в промежутке с 9:00 утра
                    до 19:00 вечера. Так же доставка может производиться в вечернее время (за дополнительную
                    плату, установленную транспортной компанией-перевозчиком) с 19:00 до 22:00.
                    Доставка осуществляется каждый день, исключения составляют праздничные дни.
                    Доставка осуществляется транспортными компаниями: Деловые Линии и ТК ПЭК.
                    Так же на усмотрение заказчика, возможна доставка любой транспортной компанией по выбору.
                    Доставка оплачивается за счёт заказчика.</p>
                <p>Терминалы транспортной компании ТК ПЭК Вы можете посмотреть по ссылке: <br>
                    <a href="https://pecom.ru/contacts/list-filials/">Доступные города</a><br>
                    <a href="https://www.dellin.ru/contacts/"></a>
                </p>
                <ol>

            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}