
{% extends "base.html" %}

{% block title %} Shop Homepage - Start Bootstrap Template {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Оплата</p>
            </div>

            <div class="col-md-9">
                <p>Оплата осуществляется безналичным платежом. После оформления заказа будет сформирован счёт на оплату,
                    который необходимо оплатить, для отправки Вашего груза. Денежные средства поступят на наш счёт
                    в течение 2 рабочих дней после оплаты заказа.</p>
                <p>Все необходимые для бухгалтерии документы (счёт-фактура, накладная, реализация)
                    выдаются при получении груза заказчику.</p>

            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}