
{% extends "base.html" %}

{% block title %} Shop Homepage - Start Bootstrap Template {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Контакты</p>
            </div>

            <div class="col-md-9">
                <b>Телефон</b>: 8-862-291-77-92 – многоканальный<br>
                <b>Телефон</b>: +7-966-775-77-92<br>
                <b>E-mail</b>: mail@proclimate.su<br>
                <b>Адреса филиалов:</b><br>
                127273 Москва ул. Отрадная 10/4
                354340 Сочи ул. Мира 163/5
                61007 Киров ул. Ленина 198/3
                197341 Санкт-Петербург ул. Полевая 1/25
                350000 Краснодар ул. Кожевенная 18
                630004 Новосибирск ул. Ленина 21/1 ( 3 этаж)
                420054 Казань ул. Московская 1 (2 этаж)
                603126 Нижний Новгород ул. Родионова 191
                344004 Ростов на-Дону ул. Батуринская 11/14
                614060 Пермь ул. Лебедева 33/3
            </div>
        </div>
    </div>
    <!-- /.container -->
{% endblock %}